### Import setup

In [17]:
import numpy as np
import pandas as pd

from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

### Loading in the data

In [4]:
housing_df = pd.read_csv('WestRoxbury.csv')

### Cleaning up column names

In [9]:
housing_df.columns = [column.strip().replace(' ', '_') for column in housing_df.columns]

In [15]:
housing_df.describe()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

### Oversampling Example

In [23]:
weights = [.9 if rooms > 10 else 0.01 for rooms in housing_df.ROOMS]
housing_df.sample(5, weights=weights)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
4362,468.8,5897,10000,1919,3619,2288,2.0,8,4,1,1,1,1,None
3830,528.4,6647,17410,1920,4134,2243,2.0,12,6,3,1,1,2,None
4489,466.0,5862,5000,1912,3676,1945,2.0,7,3,1,1,1,1,None
3850,410.8,5167,5293,1900,3948,2071,2.0,13,6,1,1,1,1,None
5579,399.8,5029,5000,1910,2852,1776,2.0,8,3,1,1,1,0,None

In [24]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

### Switch some columns to categorical

In [30]:
housing_df.REMODEL = housing_df.REMODEL.astype('category')
housing_df.REMODEL.cat.categories

Index(['None', 'Old', 'Recent'], dtype='object')

In [31]:
housing_df.REMODEL.dtype

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False)

### Creating Dummy Variables

In [32]:
housing_df = pd.get_dummies(housing_df, prefix_sep='_', drop_first=True)

In [33]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL_Old', 'REMODEL_Recent'],
      dtype='object')

In [35]:
housing_df.loc[:, 'REMODEL_Old': 'REMODEL_Recent'].head()

   REMODEL_Old  REMODEL_Recent
0            0               0
1            0               1
2            0               0
3            0               0
4            0               0

In [36]:
missingRows = housing_df.sample(10).index

In [38]:
housing_df.loc[missingRows, 'BEDROOMS'] = np.nan

In [39]:
print('Number of rows with valid BEDROOMS values after settings to NAN:: ', housing_df['BEDROOMS'].count())

Number of rows with valid BEDROOMS values after settings to NAN::  5792

In [41]:
reduced_df = housing_df.dropna()

In [43]:
medianBedrooms = housing_df['BEDROOMS'].median()

In [45]:
housing_df.BEDROOMS = housing_df.BEDROOMS.fillna(value=medianBedrooms)

In [46]:
normalized_df = housing_df.copy()

In [47]:
norm_df = (housing_df - housing_df.mean()) / housing_df.std()

In [49]:
rescaled_df = (housing_df - housing_df.min()) / (housing_df.max() - housing_df.min())

In [50]:
rescaled_df

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_Old,REMODEL_Recent
0,0.214953,0.215015,0.197472,0.934858,0.220237,0.177220,0.5,0.272727,0.250,0.00,0.333333,0.0,0.00,0.0,0.0
1,0.276420,0.276448,0.123156,0.967181,0.311878,0.307628,0.5,0.636364,0.375,0.25,0.333333,0.0,0.00,0.0,1.0
2,0.202283,0.202300,0.143194,0.939831,0.200873,0.181191,0.5,0.454545,0.375,0.00,0.333333,0.0,0.00,0.0,0.0
3,0.353702,0.353740,0.281323,0.973148,0.574253,0.439707,0.0,0.545455,0.500,0.00,0.333333,0.0,0.25,0.0,0.0
4,0.203541,0.203586,0.088145,0.949776,0.211237,0.195193,0.5,0.363636,0.250,0.25,0.000000,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,0.269410,0.269448,0.126943,0.963700,0.241784,0.252874,0.5,0.545455,0.250,0.25,0.333333,0.0,0.25,0.0,1.0
5798,0.272196,0.272234,0.185207,0.969667,0.217237,0.173250,0.5,0.272727,0.250,0.00,0.333333,0.0,0.25,0.0,0.0
5799,0.270938,0.270948,0.136544,0.988066,0.226238,0.244514,0.5,0.363636,0.250,0.00,0.333333,0.0,0.25,0.0,0.0
5800,0.183052,0.183085,0.129762,0.967678,0.160780,0.103657,0.0,0.181818,0.125,0.00,0.000000,0.0,0.00,0.0,0.0
5801,0.307872,0.307879,0.141124,0.969667,0.230329,0.229049,0.5,0.363636,0.250,0.00,0.333333,0.0,0.25,0.0,0.0

ImportError: cannot import name 'train_test_split' from 'sklearn' (/Users/skyegrey/miniforge3/envs/calescence/lib/python3.9/site-packages/sklearn/__init__.py)

In [53]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(housing_df, test_size=0.4, random_state=1)

#### Full LR Train

In [57]:
from sklearn.linear_model import LinearRegression

# Data loading and pre-processing
housing_df = pd.read_csv('WestRoxbury.csv')
housing_df.columns = [column_name.strip().replace(' ', '_').lower() for column_name in housing_df.columns]
housing_df = pd.get_dummies(housing_df, prefix_sep='_', drop_first=True)

In [60]:
# Create list of predictors and outcome
columns_to_drop = ['total_value', 'tax']
predictor_columns = [column for column in housing_df.columns if column not in columns_to_drop]
outcome_column = 'total_value'

In [61]:
# Partition Data
predictor_data = housing_df[predictor_columns]
outcome_data = housing_df[outcome_column]
training_predictor_data, validation_predictor_data, training_outcome_data, validation_outcome_data = \
train_test_split(predictor_data, outcome_data, test_size=0.4, random_state=1)

In [63]:
# Model the data
model = LinearRegression()
model.fit(training_predictor_data, training_outcome_data)

LinearRegression()

In [ ]:
# See training results 
training_predicted_outcomes = model.predict(training_predictor_data)
training_results = pd.DataFrame({
    'total_value': training_outcome_data,
    'predicted': training_predicted_outcomes,
    
    
})